.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile + label {
  width: 100%;
  color: white;
  background-color: #009844;
  display: inline-block;
  padding: 0.5rem 1rem;
}

.inputfile:focus + label,
.inputfile + label:hover {
  background-color: #006e34;
}

.inputfile + label {
  cursor: pointer; /* "hand" cursor */
}