section.content {
  padding: 4rem 0;
}

.card.card-plain {
  padding: 2rem;
  background: transparent;
  border: none;
  h3 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }
  h4 {
    font-size: 1.875rem;
    margin-bottom: 2rem;
  }
  p {
    margin-bottom: 1.5rem;
  }
}

.card.card-block {
  padding: 2rem;
  h4 {
    font-size: 1.875rem;
    margin-bottom: 1rem;
  }
  p {
    font-size: 1rem;
    margin-bottom: 1rem;
    a {
      color: #009844;
      text-decoration: underline;
    }
  }
}

.contact-email {
  background: url("/skin/frontend/img/icon_email.png") no-repeat left center;
  padding-left: 4rem;
  line-height: 3rem;
  & > a {
    font-size: 1.5rem;
    color: #009844;
  }
}

.contact-phone {
  background: url("/skin/frontend/img/icon_phone.png") no-repeat 5px center;
  padding-left: 4rem;
  line-height: 3rem;
  & > span {
    font-size: 1.5rem;
    color: #303130;
  }
}
