section.footer {
  background-color: #c8c8c8;
  padding: 2rem 0;

  span.footer-copyright {
    color: #565656;
    font-size: 1rem;
  }

  span.footer-logo img {
    max-height: 1rem;
  }

  .row {
    @include media-breakpoint-down(sm) {
      flex-direction: column-reverse;
      .text-left {
        margin-top: 20px;
        text-align: center !important;
      }
      .text-right {
        text-align: center !important;
      }
    }
  }
}


