$primary-color: #009844;

body {
  overflow-x: hidden;
}

a.hover {
  color: #009844 !important;
}

.container-fluid {
  padding: 0;
  margin: 0;
}

.navbar {
  background-color: $primary-color;
  padding: 0;

  .nav-item {
    margin: 0 1.2rem;

    .nav-link {
      color: #fff;
      display: block;
      @include media-breakpoint-down(md) {
        display: block;
        text-align: center;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);

      }
    }

    @include media-breakpoint-down(lg) {
      margin: 0 0.9rem
    }
    @include media-breakpoint-down(md) {
      margin: 0;
    }
  }
}

.navbar-left {
  background: url("/skin/frontend/img/banner_separator.png") no-repeat right center #fff;
  height: 79px;
  line-height: 70px;

  .navbar-brand {
    margin-right: 5rem;
    @include media-breakpoint-down(xs) {
      width: 55vw;
      img {
        width: 100%;
      }
    }
  }

}

.homepage-header {
  height: 700px;
  background: url("/skin/frontend/img/banner.png") no-repeat center center;
  @include media-breakpoint-down(xs) {
    height: 350px;
    padding-top: 80px;
  }
}

.job-header {
  height: 350px;
  background: url("/skin/frontend/img/banner.png") no-repeat center center;
}

.header .banner, .homepage-header .banner {
  background: #ffffff;
  background: -moz-linear-gradient(left, #ffffff 0%, #ffffff 50%, $primary-color 51%, $primary-color 100%);
  background: -webkit-linear-gradient(left, #ffffff 0%, #ffffff 50%, $primary-color 51%, $primary-color 100%);
  background: linear-gradient(to right, #ffffff 0%, #ffffff 50%, $primary-color 51%, $primary-color 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#009844', GradientType=1);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999999;
  opacity: 0.9;

  .dropdown-menu {
    background-color: #009844;
    border-color: #009844;
    top: 48px;
    left: -0.4rem;
    padding-bottom: 0;
    min-width: 12rem;

    .dropdown-item {
      color: #fff;
      padding: 0.25rem 0.4rem;

      &:hover {
        background-color: #017032;
      }

      &:last-child {
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
      }

      @include media-breakpoint-down(md) {
        display: block;
        text-align: center;

      }
    }

    @include media-breakpoint-down(md) {
      background-color: darken(#009844, 5%);
      margin: 0;
      padding: 0;
    }
  }
}

.page-title {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 40px;

  & > h2 {
    color: #fff;
    display: block;
    font-size: 3rem;
  }

  & > h3 {
    color: #fff;
    display: block;
    font-size: 1.5rem;
  }
}

.jumbotron {
  background: transparent;
  color: #fff;
  text-align: center;
  height: 100%;

  h2 {
    font-size: 4.375rem;

    &.banner-title {
      font-size: 2.8125rem;
    }

    @include media-breakpoint-down(sm) {
      font-size: 3.5rem;
      &.banner-title {
        font-size: 2.2rem;
      }
    }
    @include media-breakpoint-down(xs) {
      font-size: 2.5rem;
      &.banner-title {
        font-size: 1.6rem;
      }
    }
  }
}

.btn-outline-green {
  background: transparent;
  border: 1px solid $primary-color;
  padding: 0.5rem 3rem;
  color: #fff;

  &:hover {
    background-color: $primary-color !important;
    color: #fff !important;
  }
}

.btn-green {
  background-color: $primary-color;
  border: 1px solid $primary-color;
  border-bottom-color: #007c37;
  border-bottom-width: 4px;
  padding: 0.5rem 2rem;
  color: #fff;

  &:hover {
    color: #fff;
    background-color: #007c37;
    border: 1px solid #007c37;
    border-bottom-width: 4px;
    border-bottom-color: $primary-color;
  }
}


.header {

  @include media-breakpoint-down(md) {
    .container {
      width: 100%;
      max-width: 100%;
      padding: 0;

      .navbar-left {
        padding-left: 15px;
      }

      .hamburger {
        margin-right: 15px;
        margin-top: 8px;

        &:focus {
          outline: none !important;
          box-shadow: none;
        }
      }
    }
  }
}
