section.numbers {
  background: url("/skin/frontend/img/numbers.png") no-repeat center center;
  color: #fff;
  padding: 4rem 0;
  @include media-breakpoint-down(sm) {
    background-size: cover;
    .col-md-4{
      margin-bottom: 1.25rem;
    }
  }
}

section.numbers .icon-wrapper {
  height: 6rem;
  line-height: 6rem;
}

section.numbers .number {
  font-size: 4.25rem;
}

section.numbers .number-title {
  font-size: 1.375rem;
}
