.employee-text{
  font-size: 1.4rem;
}
.employee-name{
  font-size: 1.5rem;
  font-weight: bold;
}
.employee-position{
  font-size: 1.2rem;

}
.employee{
  color: #f6f6f6;
  padding-bottom: 7rem;
  padding-top: 7rem;
  background-color: #007c37;
}