<table style="border-collapse: collapse; border: 1px solid #000">
    {% for eventName, duration in events %}
    <tr>
        <td style="border: 1px solid #000; font-weight: bold; font-size: 12px; padding: 2px;">{{ eventName }}</td>
        <td style="border: 1px solid #000; text-align: right; font-size: 12px; padding: 2px;">{{ duration }}</td>
    </tr>
    {% endfor %}
</table>