<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block headTitle %}{% endblock %} Administration</title>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="/skin/admin/style.css">

    {% block customMeta %}
    {% endblock %}
</head>
<body>
<div class="container-fluid" id="app">
    {{ cmsBlock("core/header").render() | raw }}
    {{ cmsBlock("core/flash").getAll().render() | raw }}
    <div class="row">
        <div class="col-3">
            {{ cmsBlock("core/menu").render() | raw }}
        </div>
        <div class="col-9">
            {% block main %}
            {% endblock %}
        </div>
    </div>
    <footer>
        <p>Copyright &copy; 2019 VKDS CMS</p>
    </footer>
</div>
<script src="/skin/admin/tinymce/tinymce.min.js"></script>
<script src="/skin/admin/bundle.js"></script>
</body>
</html>