<label for="{{ field }}">{{ label }}</label>
<select name="{{ field }}" id="{{ field }}" class="form-control">
    {% for val,lab in options %}
        <option value="{{ val }}">{{ lab }}</option>
    {% endfor %}
</select>
<div class="form-group">
    {% if form.hasErrors(field) %}
        <ul class="cms-form-error-container">
            {% for error in form.getErrors(field) %}
                <li>{{ cmsFormError(error) }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</div>