<div class="form-group">
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="1" {% if form.hasData(field) %}checked{% endif %} name="{{ field }}" id="{{ field }}">
        <label class="form-check-label" for="{{ field }}">
            {{ label }}
        </label>
        {% if form.hasErrors(field) %}
            <ul class="cms-form-error-container">
                {% for error in form.getErrors(field) %}
                    <li>{{ cmsFormError(error) }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</div>