
section.offers {
  padding: 4rem 0;
  text-align: center;
}

section {
  &.gray-bg {
    background-color: #f6f6f6;
  }

  &.offers {
    .container .row {
      margin-bottom: 1.25rem;
      @include media-breakpoint-down(md) {
        .col-lg-4 {
          margin-bottom: 1.25rem
        }
      }
    }

    & > h3 {
      font-size: 2.5rem;
      margin-bottom: 2rem;
    }
  }
}

.offers-nav {
  margin-bottom: 1rem;

  a {
    color: #8f8f8f;
    font-size: 1rem;
    padding: 0.5rem 0;
    margin: 0 1rem 1rem 1rem;

    &.active {
      color: #303130;
      border-bottom: 4px solid #009844;
    }
  }
}

.offer-item {
  text-align: left;
  color: #303130;
  background: url("/skin/frontend/img/offer-item-button.png") no-repeat bottom right #fff;
  margin-bottom: 1.25rem;
  transition: box-shadow 0.1s ease-in-out;

  &:hover {
    color: #303130;
    text-decoration: none;

    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.6);
  }
}

.news-item {
  margin-bottom: 2rem;
}

.offer-item-title {
  font-size: 1.5rem;
  max-height: 28px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.offer-salary {
  display: block;
  margin-top: 0.5rem;
}
