<header class="header {{ current_block.getOption("class") }}">
    <div class="banner">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark">
                <div class="navbar-left">
                    <a class="navbar-brand" href="/"><img src="/skin/frontend/img/logo.png" alt="logo"/></a>

                </div>
                <button class="navbar-toggler hamburger hamburger--collapse" type="button" class="navbar-toggler"  data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                      <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                      </span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Služby
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/p/personalni-leasing">Personální leasing</a>
                                <a class="dropdown-item" href="/p/recruiting">Recruiting</a>
                                <a class="dropdown-item" href="/p/try-and-hire">Try &amp; Hire</a>
                            </div>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="{{ cmsUrl('job') }}">Nabídky práce</a></li>
                        <li class="nav-item"><a class="nav-link" href="/p/o-nas">O nás</a></li>
                        <li class="nav-item"><a class="nav-link" href="/aktuality">Aktuality</a></li>
                        <li class="nav-item"><a class="nav-link" href="/p/kontakt">Kontakt</a></li>
                        <!--li class="nav-item"><a class="nav-link" href="#"><img src="/assets/images/search.png" alt="search"/></a></li-->
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    {% if current_block.getOption("show_jumbotron") == 1 %}
        <div class="jumbotron d-flex flex-column align-items-center justify-content-center align-items-center">
            <h2 class="banner-title font-light">VYUŽIJTE SLUŽEB NAŠÍ ZKUŠENÉ</h2>
            <h2 class="banner-subtitle font-medium">AGENTURY PRÁCE</h2>
            <a href="{{ cmsUrl('job') }}" class="btn-outline-green">Nabídky práce</a>
        </div>
    {% endif %}
    {% if current_block.getOption("title") or current_block.getOption("subtitle") %}
        <div class="page-title">
            {% if current_block.getOption("title") %}
                <h2 class="banner-title font-bold">{{ current_block.getOption("title") }}</h2>
            {% endif %}
            {% if current_block.getOption("subtitle") %}
                <h3 class="banner-subtitle font-light">{{ current_block.getOption("subtitle") }}</h3>
            {% endif %}
        </div>
    {% endif %}

</header>
